<main class="container-blog-new">
  <h1><%= t('blogs.new.title') %></h1>
  <p class="mb-20">
    <%= link_to t('blogs.buttons.back'), blogs_path, class: "btn btn-secondary m-5" %>
  </p>
  <%= render "blogs/form" %>
</main>
