.text-color-primary {
  color: $primary;
}
.text-color-secondary {
  color: $secondary;
}
.text-color-success {
  color: $success;
}
.text-color-danger {
  color: $danger;
}
.text-color-warning {
  color: $warning;
}
.text-color-info {
  color: $info;
}
.text-color-light {
  color: $light;
}
.text-color-dark {
  color: $dark;
}
