<article class="container-apropos">
  <div class="container-apropos-image">
    <img src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80" class="container-apropos-image" alt="ma photo" />
  </div>
  <section class="container-apropos-description">
    <h1>Rachel Green</h1>
    <h3>Tax Consultant</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque non metus eu cursus. Integer id mauris eget ligula cursus volutpat non condimentum lectus. Proin commodo pellentesque neque, viverra vulputate mi. Integer dictum interdum porttitor.</p>
    <p>Cras pellentesque velit ut dui aliquam, et lacinia nunc sodales. Curabitur sit amet ligula ante. Cras arcu nibh, venenatis in nisi ut, placerat faucibus arcu. Nullam sem ex, sollicitudin ac risus sed, posuere facilisis dolor. Aenean fringilla mattis pellentesque. Nunc tristique eget ipsum sit amet vulputate. Nunc mattis enim lacus, vitae commodo neque posuere non. Donec mauris purus, euismod ac pulvinar vel, tincidunt luctus tortor.</p>
    <p>Vestibulum facilisis purus ac facilisis sagittis. Sed in tempus tellus, sit amet congue velit. Fusce egestas leo ac tortor tristique aliquam. Maecenas sodales gravida tempus. Vivamus venenatis augue odio, at mattis neque fermentum in. Etiam venenatis tellus rutrum odio egestas, nec interdum eros venenatis. Quisque semper lobortis ex id convallis. In ornare faucibus sem, sed iaculis eros finibus ac. Aliquam facilisis fringilla scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In orci nisl, gravida vel libero non, vulputate suscipit quam. Aliquam hendrerit.</p>
  </section>
</article>

<%= render("seo") %>
