.home-main {
  height: calc(100vh - 64px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url(http://unsplash.it/1600/800?grayscale?blur=2);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  h1 {
    font-size: 3em;
    color: $light;
    text-align: center;
  }
  h3 {
    font-size: 2em;
    color: $light;
    text-align: center;
  }
}
.home-arrow {
  position: absolute;
  bottom: 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: $dark;
  color: $light;
  border: 2px solid $primary;
  line-height: 2em;
  opacity: 0.7;
}
@media only screen and (min-width: 700px) {
  .home-main {
    h1 {
      font-size: 5em;
    }
    h3 {
      font-size: 3em;
    }
    .btn {
      font-size: 1.5em;
    }
  }
}
