// Import page-specific CSS files here
@import "show";
@import "edit";
@import "new";

.container-blog-index {
  min-height: calc(100vh - 64px - 253px);
}
.blog-elements {
  display: flex;
  flex-direction: column;
}
.blog-element {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  max-height: 100px;
  max-width: 500px;
  min-width: 500px;
  border: 1px solid $light;
  background-color: $light;
  .blog-element-img {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    color: $dark;
    margin: 0;
  }
  .blog-element-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.5em;
    .blog-element-description-author {
      p {
        margin: 0;
        font-size: 0.8em;
        font-weight: 200;
      }
    }
    .blog-element-description-title {
      a {
        font-size: 1.25em;
        font-weight: 600;
        color: $dark;
        text-decoration: none;
      }
      a:hover {
        color: $secondary;
      }
    }
    .blog-element-description-details {
      p {
        font-size: 0.8em;
        color: $secondary;
        margin: 0;
      }
    }
  }
  &:hover {
    border: 1px solid $secondary;
  }
}
@media only screen and (min-width: 700px) {
  .blog-elements {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .blog-element {
    margin-left: 1em;
    box-shadow: 5px 5px 10px 0px rgb(150, 150, 150);
    .blog-element-description {
      margin-left: 1em;
    }
  }
}
