.container-blog-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
  }
}
@media only screen and (min-width: 700px) {
  .container-blog-new {
    h1 {
      font-size: 3em;
    }
  }
}
