.container-blog-show {
  min-height: calc(100vh - 64px - 230px);
}
.blog-show {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 1em;
  h1 {
    font-size: 2em;
  }
  .blog-show-image {
    width: fit-content;
    margin: auto;
  }

  .blog-show-details {
    p {
      margin: 0;
      font-size: 0.8em;
      font-weight: 200;
      color: $secondary;
    }
  }
  .blog-show-content {
    p {
      word-break: break-word;
      margin-bottom: 1em;
    }
  }
  .blog-show-keywords {
    p {
      display: inline-block;
    }
  }
}
@media only screen and (min-width: 700px) {
  .blog-show {
    margin: auto;
    h1 {
      font-size: 3em;
    }
    p {
      margin: 0;
      font-size: 1em;
      font-weight: 200;
    }
  }
}
