<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @subscriber.name %>!</h1>
    <p>We confirm your subscription to our Newsletter 📢!</p>
    <a href="<%= @link_root %>">Our website</a>
    <a href="<%= @link_unsubscribe %>">Unsubscribe</a>
  </body>
</html>
