<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @subscriber.name %>!</h1>
    <p>Nous vous confirmons votre souscription à la Newsletter 📢</p>
    <a href="<%= @link_root %>">Notre Site</a>
    <a href="<%= @link_unsubscribe %>">Se désinscrire</a>
  </body>
</html>
