// Colors for the components

$primary: #0d6efd;
$primary_bis: #0b5ed7;
$secondary: #6c757d;
$secondary_bis: #5c636a;
$success: #198754;
$success_bis: #157347;
$danger: #dc3545;
$danger_bis: #bb2d3b;
$warning: #ffc107;
$warning_bis: #ffca2c;
$info: #0dcaf0;
$info_bis: #31d2f2;
$light: #f8f9fa;
$light_bis: #f8f9fa;
$dark: #212529;
$dark_bis: #212529;

// Colors customized for project
$color1: #fff;
$color2: #fff;
$color3: #fff;
$color4: #fff;
