.container-products {
  display: flex;
  flex-direction: column;
}
#service_1 {
    background-color: $color2;
    color: $light;
    h1 {
      color: $light;
    }
}
#service_2 {
    background-color: $color1;
    color: $dark;
    h1 {
      color: $dark;
    }
}
#service_3 {
    background-color: $color4;
    color: $light;
    h1 {
      color: $light;
    }
}
.icon-light {
  filter: invert(.9);
}
.container-product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  .container-product-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    min-width: 300px;
  }
  .container-product-card-content {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    line-height: 2em;
    h1 {
      text-align: center;
      margin-bottom: 0;
    }
    .container-product-card-content-title {
      border-bottom: 2px solid $primary;
    }
  }
}
@media only screen and (min-width: 700px) {
  #border-left {
    border-left: 1px solid $dark;
  }
  #border-right {
    border-right: 1px solid $dark;
  }
  .container-product-card {
    flex-direction: row;
    .container-product-card-content {
      min-height: 400px;
      min-width: 400px;
      height: 100%;
    }
    .container-product-card-image {
      min-height: 300px;
    }
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
}
