<article class="home-main">
  <h1>Lorem ipsum dolor sit amet</h1>
  <h3>Mauris placerat, magna ut sollicitudin tincidunt, ante nulla accumsan nisl</h3>
  <p><%= link_to t('pages.discover_services'), services_index_path, class: "btn btn-primary" %></p>
  <a class="home-arrow" href="#service_1">▽</a>
</article>

<%= render "services/services_main" %>
<%= render "subscribers/form" %>
