<main>
  <section class="home-hero">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p class="hero-text">Mauris placerat, magna ut sollicitudin tincidunt, ante nulla accumsan nisl</p>
    <p><%= link_to t('pages.discover_services'), services_index_path, class: "btn btn-primary" %></p>
    <a class="home-arrow" href="#service_1">▽</a>
  </section>

  <%= render "services/services_main" %>
  <%= render "subscribers/form" %>
</main>
