<div class="home-main">
  <h1>Lorem ipsum dolor sit amet</h1>
  <h3>Mauris placerat, magna ut sollicitudin tincidunt, ante nulla accumsan nisl</h3>
  <p><%= link_to "Découvrez nos services", root_path, class: "btn btn-primary" %></p>
</div>
