<footer>
  <div class="footer-content">
    <div class="footer-content-legal">
      <h3>Mentions légales</h3>
        <p><a href="#">Mentions légales</a></p>
        <p><a href="#">Politique de confidentialité</a></p>
        <p><a href="#">C.G.V.</a></p>
    </div>
    <div class="footer-content-social">
      <h3>Réseaux Sociaux</h3>
        <p><a href="#">Facebook</a></p>
        <p><a href="#">Mastodon</a></p>
        <p><a href="#">LinkedIn</a></p>
    </div>
  </div>
  <p class="footer-copyright">Copyright © 2022-2023 SOCIETE, Tous droits réservés.</p>
</footer>
