.container-apropos {
  display: flex;
  flex-direction: column;
  .container-apropos-image {
  }
  .container-apropos-description {
    padding: 1em;
    text-align: justify;
  }
}
@media only screen and (min-width: 700px) {
  .container-apropos {
    flex-direction: row;
  }
  .container-apropos-description {
    max-width: 600px;
  }
  .container-apropos-image {
    height: auto;
    background-size: auto;
  }
}
