header {
  display: flex;
  justify-content: space-between;
  background-color: $dark;
  height: 64px;
}
header p {
  margin: 0;
}
header .logo {
  height: 64px;
  width: 100px;
  //background-color: $color4;
  //line-height: 64px;
}
header .burger {
  color: $light;
  margin-right: 1em;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav-links {
  display: none;
  position: relative;
  align-items: center;
}
header .nav-link {
  text-align: center;
  line-height: 64px;
  transition: 0.25s;
  width: 6em;
}
header .nav-link:hover {
  background-color: $dark-bis;
  transition: 0.25s;
}
header .nav-button {
  color: $light;
  margin: 0 1em 0 1em;
  //text-align: center;
  line-height: 64px;
  transition: 0.25s;
  width: 6em;
}
header .nav-account {
  line-height: 64px;
  text-align: center;
  cursor: pointer;
  font-size: 0.75em;
  margin: 1em;
  color: $light;
}
header .nav-link a {
  color: $light;
  text-decoration: none;
  font-weight: 400;
}
header .nav-lang {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-content: center;
  li {
    list-style-type: none;
  }
}
header .account-menu-content {
  background-color: $dark;
  position: absolute;
  width: auto;
  display: none;
  right: 0;
  top: 64px;
  z-index: 20;
}
header .account-menu-content p {
  line-height: 2em;
  transition: 0.25s;
}
header .account-menu-content p:hover {
  background-color: $secondary;
  transition: 0.25s;
}
header .account-menu-content a {
  color: $light;
  text-decoration: none;
  padding: 1em;
}
header .account-menu-content a:hover {
  color: $light;
}
header .account-menu-content p {
  text-align: center;
  padding: 1em;
}
header .show {
  display: inline-block;
}
@media only screen and (min-width: 700px) {
  header .nav-links {
    display: flex;
  }
  header .nav-lang {
    flex-direction: column;
  }
  .burger {
    display: none;
  }
}
