.container-contacts {
  h1 {
    font-size: 2em;
    text-align: center;
  }
}
@media only screen and (min-width: 700px) {
  .container-contacts {
    margin-bottom: 2em;
  }
  .container-contacts h1 {
    font-size: normal;
  }
}
