<article id="container-products">
  <div id="service_3" class="container-product-card" > 
    <div id="border-right" class="container-product-card-image">
      <%= image_tag('Startup', size: "100x100", alt: "Startup", class: "icon-light") %>
    </div>
    <div id="service_3" class="container-product-card-content"> 
      <div class="container-product-card-content-title">
        <h1>Service 3</h1>
      </div>
      <div class="container-product-card-content-description">
        <ul>
          <li>Aliquam eget arcu in risus sagittis efficitur in ac nisi.</li>
          <li>In ac ante cursus, posuere risus ullamcorper, mollis purus.</li>
          <li>In ut lacus quis lectus accumsan pellentesque in a augue.</li>
          <li>Ut auctor risus ut diam tincidunt posuere.</li>
          <li>Integer eleifend risus in tristique euismod.</li>
        </ul>
      </div>
    </div>
  </div>
</article>

